<ion-content [fullscreen]="true">

  <div style=" margin-left: 20px; margin-top: 30px;">
    <ion-button color="light" (click)="back()"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
  </div>

  <ion-text class="ttitulo">
    <p> SERVICIO DE ODONTOLOGÍA </p>
  </ion-text>

  <ion-text class="name">
    <p><b>Hola!</b> {{nombre}} {{apellido}}</p>
  </ion-text>


  <br>
  <div class="paddingContent">

    <div style="text-align: center; display: flex; justify-content: center; align-items: center; margin-top: 20px;">
      <div class="error" *ngIf="cantidadNumeroDiaUltimaSolicitud < 15">
        <div class="error__icon">
          <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path
              d="m13 13h-2v-6h2zm0 4h-2v-2h2zm-1-15c-1.3132 0-2.61358.25866-3.82683.7612-1.21326.50255-2.31565 1.23915-3.24424 2.16773-1.87536 1.87537-2.92893 4.41891-2.92893 7.07107 0 2.6522 1.05357 5.1957 2.92893 7.0711.92859.9286 2.03098 1.6651 3.24424 2.1677 1.21325.5025 2.51363.7612 3.82683.7612 2.6522 0 5.1957-1.0536 7.0711-2.9289 1.8753-1.8754 2.9289-4.4189 2.9289-7.0711 0-1.3132-.2587-2.61358-.7612-3.82683-.5026-1.21326-1.2391-2.31565-2.1677-3.24424-.9286-.92858-2.031-1.66518-3.2443-2.16773-1.2132-.50254-2.5136-.7612-3.8268-.7612z"
              fill="#393a37"></path>
          </svg>
        </div>
        <div class="error__title">
          Ya ha utilizado este servicio. Espere 6 días desde su último turno para volver a acceder.
          <!-- Hace {{cantidadNumeroDiaUltimaSolicitud}} días ya utilizó este servicio -->
        </div>
       
      </div>
    </div>

    <br>
    <br>

    <div *ngIf="pendiente">
      <table style="width: 100%; border-collapse: collapse;">
        <thead>
          <tr>
            <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Fecha solicitud</th>
            <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Turno</th>
            <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Estado</th>
            <th style="border: 1px solid #ddd; padding: 8px; text-align: left;">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="border: 1px solid #ddd; padding: 8px;">{{ultimoTurno.FECHATURNO}}</td>
            <td style="border: 1px solid #ddd; padding: 8px;">{{ultimoTurno.HORARIO}}</td>
            <td style="border: 1px solid #ddd; padding: 8px; text-align: center;">
              <ion-text class="pendiente" *ngIf="ultimoTurno.ESTADO == 'Pendiente'">{{ultimoTurno.ESTADO}}</ion-text>
            </td>
            <td style="border: 1px solid #ddd; padding: 8px; text-align: center;">
               @if(activeButtom){
              <ion-button color="danger" *ngIf="ultimoTurno.ESTADO == 'Pendiente'"
                (click)="cancelarSolicitud(ultimoTurno.IDSOLICITUD)">Cancelar</ion-button>
               }
            </td>
          </tr>
        </tbody>
      </table>
      <br>
      <br>
    </div>

    <!-- CARD  NO HAY SEGURO -->
    <div style="text-align: center; display: flex; justify-content: center; align-items: center; margin-top: 20px;"
      *ngIf="siTieneSeguroMortuorio == 'noexiste'">
      <div class="error">
        <div class="error__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" height="24" fill="none">
            <path fill="#393a37"
              d="m13 13h-2v-6h2zm0 4h-2v-2h2zm-1-15c-1.3132 0-2.61358.25866-3.82683.7612-1.21326.50255-2.31565 1.23915-3.24424 2.16773-1.87536 1.87537-2.92893 4.41891-2.92893 7.07107 0 2.6522 1.05357 5.1957 2.92893 7.0711.92859.9286 2.03098 1.6651 3.24424 2.1677 1.21325.5025 2.51363.7612 3.82683.7612 2.6522 0 5.1957-1.0536 7.0711-2.9289 1.8753-1.8754 2.9289-4.4189 2.9289-7.0711 0-1.3132-.2587-2.61358-.7612-3.82683-.5026-1.21326-1.2391-2.31565-2.1677-3.24424-.9286-.92858-2.031-1.66518-3.2443-2.16773-1.2132-.50254-2.5136-.7612-3.8268-.7612z">
            </path>
          </svg>
        </div>

        <div class="error__title">
          <div class="text-danger border rounded border-danger p-1">
            <i class="fa-solid fa-triangle-exclamation"></i> No tiene el seguro, o esta sin renovación!!
          </div>
        </div>
        <div class="error__close"><svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" height="20">
            <path fill="#393a37"
              d="m15.8333 5.34166-1.175-1.175-4.6583 4.65834-4.65833-4.65834-1.175 1.175 4.65833 4.65834-4.65833 4.6583 1.175 1.175 4.65833-4.6583 4.6583 4.6583 1.175-1.175-4.6583-4.6583z">
            </path>
          </svg></div>
      </div>
    </div>
    <br> <br> <br>

    <div *ngIf="!pendiente">

    <div class="cards">
      <div class="main-content">
        <p class="cita"> AGENDAR CITA</p>
          <div *ngIf="siTieneSeguroMortuorio == 'existe'">
            <ion-text class="title">
              <p>SELECCIONE EL DIA</p>
            </ion-text>
            <br>
            <ion-grid>
              <ion-row class="card-container">
                <div class="card" *ngFor="let x of diasDisponibles; let i = index"
                  [ngClass]="{'active': isSelecteda(i)}" (click)="toggleActivea(i, x)">
                  <div class="card-border-top" [ngClass]="{'active': isSelecteda(i)}"></div>
                  <p class="dia" [ngClass]="{'active': isSelecteda(i)}">{{x.nombre}}</p>

                  <div class="nume" [ngClass]="{'active': isSelecteda(i)}">{{x.dia}}</div>
                  <span style="text-transform: uppercase;  font-size:14px"
                    [ngClass]="{'active': isSelecteda(i)}">{{x.mes}}</span>
                </div>
              </ion-row>
            </ion-grid>
          </div>
        <br>
        <div *ngIf="horariosDeServicio.length >0">
          <ion-text class="title2">
            <p>SELECCIONE EL HORARIO</p>
          </ion-text>
        </div>

        <ion-grid>
          <ion-row class="card-container">
            <div *ngFor="let x of horariosDeServicio" class="cardHorario" (click)="seleccionar(x.HORARIO, x.IDHORARIO)"
              [ngClass]="{'selected': x.IDHORARIO === horarioSeleccionado}">
              <div class="col">
                <ion-text class="title-horario">{{ x.HORARIO }}</ion-text>
              </div>
            </div>
          </ion-row>
        </ion-grid>

        <br>
      </div>

      <div class="botonCenter" *ngIf="activeBoton == true">
        <div class="boton" (click)="EnviarSolicitud()">
          Generar Cita
        </div>
      </div>
      <br> <br>
    </div>
    </div>


  </div>


</ion-content>