
.teclado-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 50px;
}

.teclado {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  text-align: center;
}

.teclado button {
  font-size: 1.5em;
  padding: 26px;
  border-radius: 7px;
  background-color: white;
  color: black;
  border: 1px solid #bdbdbd;
  transition: all 0.3s ease-in-out;
}



.caja {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 15%;
  height: 55px;
  // display: inline-block;
  display: flex;
  align-items: center;
  /* Centrar el texto verticalmente */
  justify-content: center;
  border-radius: 7px;
  background-color: #ececec;
}

.texto {
  text-align: center;
  justify-content: center;
  color: #a8a6a6;
}

.numero {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: 30px;
  letter-spacing: 2px;
}

.teclado .borrar {
  // background-color: #ff8894;
  border: 1px solid #d45555;
  color: #d45555;
}

.teclado .buscar {
  border: 1px solid #4762fa;
  color: #4762fa;
  font-size: 12px;
  font-weight: bold;
}

.numeroTeclado {
  text-align: center;
}

.ttitulo {
  text-align: center;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-large;
}

.teclado .buscar.activo {
  background-color: rgb(69, 66, 248);
  color: white;
  /* Cambia a azul cuando hay 10 números */
}






// #container {
//   position: relative;
//   left: 0;
//   right: 0;
//   top: 5%;
//   text-align: center;

//   // transform: translateY(-50%);
// }


// // PANTALLA PEQUEÑA
// @media (max-width: 600px) {
//    .btn-login{
//     font-size: 12px;
//     width: 2px;
//     padding: 0px 12px;
//   }

//   .tarjeta {
//     font-size: 13px;
//     padding-top: 25px;
//     padding-left: 13px;
//     padding-right: 13px;
//     padding-bottom: 14px;
//     margin-left: 5%;
//     margin-right: 5%;
//     margin-top: 6%;
//   }

//   .titulo{
//     font-weight: bold;
//     padding-bottom: 15px;
// }
 
// .ttitulo{
//     text-align: center; 
//     font-weight: bold; 
//     font-family:'Times New Roman', Times, serif;
//     font-size: x-large;
// }

// }


// // PANTALLA GRANDE
// @media (min-width: 600px) {
//    .btn-login{
//     font-size: 16px;
//   }
//   .tarjeta {
//     font-size: 15px;
//     padding: 30px;
//     margin-left: 10%;
//     margin-right: 10%;
//     margin-top: 6%;
//   }

//   .titulo{
//     font-weight: bold;
//     padding-bottom: 15px;
// }


// .ttitulo{
//     text-align: center; 
//     font-weight: bold; 
//     font-family:'Times New Roman', Times, serif;
//     font-size: xx-large;
// }


// }





// .btn-login {
//   color: white;
//   border-radius: 10px;
//   height: 50px;
// }

// .tarjeta {
//   display: flex;
//   flex-direction: column;
//   background-color: white;
//   border-radius: 12px;
 
//   box-shadow: 0 2px 6px rgba(65, 152, 252, 0.377);
// }

// .card_agencia {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   width: 200px;
//   height: 150px;
//   padding: 1rem;
//   background-color: #ffffff;
//   border: 1px solid #e0e0e0; /* Borde ligero */
//   border-radius: 10px; /* Bordes redondeados */
//   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
//   text-align: center; /* Centrar contenido */
//   transition: transform 0.3s ease, box-shadow 0.3s ease;
// }

// .card_agencia:hover {
//   transform: translateY(-5px); /* Elevar al pasar el mouse */
//   box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2); /* Sombra más fuerte */
// }

// .card_agencia p {
//   margin: 0.5rem 0 0;
//   font-size: 1rem;
//   color: #333;
// }
