<ion-content class="ion-padding ion-text-center">
  <div style="text-align: center; margin-top:10%; padding-bottom: 14px;">
    <img src="../../assets/image/logo.png" style="width: 28%;" />
  </div>

  <ion-text class="ttitulo">
    <p> SISTEMA DE TURNOS </p>
  </ion-text>

  <div class="caja">
    <p class="texto" *ngIf="!inputValue ">Ingrese su número de cédula</p>
    <p class="numero">{{ inputValue }}</p>
  </div>

</ion-content>


<!-- Teclado Numérico (Fijo abajo) -->
<div class="teclado-container ">
  <div class="teclado ">
    <button *ngFor="let num of numeros " (click)="agregarNumero(num) ">{{ num }}</button>
    <button class="borrar " (click)="borrar() ">⌫</button>
    <button class="buscar " [ngClass]="{ 'activo': inputValue.length === 10 }" (click)="buscar() ">BUSCAR</button>
  </div>
</div>