

<ion-content [fullscreen]="true">
  <div id="container">
  <div class="text-center">
    <img src="../../assets/image/logo.png" style="width: 30%;" />
  </div>
  <br>
  <br>
  <ion-text>
    <h1 class="font-cairo "
    style="font-weight: bold; font-family:'Times New Roman', Times, serif; font-size: xx-large;">SISTEMA DE TURNOS
  </h1>
</ion-text>
<ion-text class="subtitulo"><p>Usted es:</p></ion-text>

<div class="card-container">
  <div class="card cliente" (click)="siguienteCliente()">
    <ion-icon name="person-circle" class="card-icon"></ion-icon>
    <h3 class="card-title font-cairo">Cliente</h3>
  </div>
  
  <div class="card socio" (click)="siguienteSocio()">
    <ion-icon name="people-circle" class="card-icon"></ion-icon>
    <h3 class="card-title font-cairo">Socio</h3>
  </div>
</div>

</div>


</ion-content>
