
#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 5%;
  }.subtitulo {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    color: grey;
  }
 

  .card-container {
    display: flex;
    flex-direction: column; /* Cambio a columna */
    justify-content: center; /* Centrado vertical */
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    width: 100%; /* Asegurarse de que ocupe el 100% del ancho de la pantalla */
  }

  .card {
    color: white;
    border-radius: 15px;
    min-width: 60%;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  

  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .card-icon {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .cliente {
    background: linear-gradient(135deg, #00b09b, #0f3443); /* Degradado azul-verde para Cliente */
  }
  
  .socio {
    background: linear-gradient(45deg, #086edb, #203b79);
  }
  
  