<ion-content [fullscreen]="true">
  <div id="container">
    
    <div class="text-center">
      <img src="../../assets/image/logo.png" style="width: 30%;" />
    </div>
    <br>
    <ion-text>
      <h1 class="font-cairo "
      style="font-weight: bold; font-family:'Times New Roman', Times, serif; font-size: xx-large;">SISTEMA DE TURNOS
    </h1>
  </ion-text>
  
  <div style="padding-left: 50px; padding-right: 50px; padding-top: 40px;">
    <ion-card color="secondary">
      <ion-card-header class="card-header">
        <div class="icon-text-container" (click)="toggleList()">
          <h3>Elegir Agencia</h3>
          <ion-icon name="chevron-down-outline" [class.rotated]="isListVisible">
          </ion-icon>
        </div>
        
      </ion-card-header>
      <ion-card-content *ngIf="isListVisible" style="padding-left: 15px; padding-right: 15px; padding-bottom: 15px;">
        
        
        <ion-card color="light" (click)="navegar()">
          <ion-card-content>
            <ion-icon name="business-outline"></ion-icon>
            <ion-card-title class="bold-title">MATRIZ</ion-card-title>
          </ion-card-content>
        </ion-card>
        
        <ion-card color="light">
          <ion-card-content>
            <ion-icon name="business-outline"></ion-icon>
            <ion-card-title class="bold-title">Balzar</ion-card-title>
          </ion-card-content>
        </ion-card>
        
        
      </ion-card-content>
    </ion-card>
    
  </div>
  
  
  
  
  <!--    
    <div class="card_agencia">
      <ion-icon name="accessibility-outline"></ion-icon>
      <p>Elegir agencia</p>
    </div> -->
    
    
    
  </div>
  


</ion-content>